<html>

<head>
  <title>XX任务</title>
  <meta charset="utf-8">
  <style>
    .label {
      font-weight: 600;
    }

    .base-item {
      margin: 5px 0;
    }
  </style>
</head>

<body style="font-size:20px;">
  <div style="margin:0 auto;max-width:800px;">

    <h1 id="taskName" style="text-align:center">学业分析报告（任务名称）</h1>
    <div>
      <h2>基本信息:</h2>
      <div style="padding-left:50px;">
        <div class="base-item">
          <span class="label">编辑者：</span>
          <span id="editor">zhp</span>
        </div>
        <div class="base-item">
          <span class="label">创建时间:</span>
          <span id="createTime">zhp</span>
        </div>
        <div class="base-item">
          <span class="label">所用数据源</span>
          <span id="dataSet">zhp</span>
        </div>
      </div>
    </div>
    <div>
      <h2>数据分析:</h2>
      <div style="padding-left:50px;">
        <div class="base-item">
          <span class="label">数据分析结论：</span>
          <span id="dataAnalysisConclusion">zhp</span>
        </div>
      </div>
    </div>
    <div>
      <h2>数据挖掘:</h2>
      <div style="padding-left:50px;">
        <div class="base-item">
          <span class="label">数据挖掘结论：</span>
          <span id="dataMiningConclusion">zhp</span>
        </div>
      </div>
    </div>
    <div>
      <h2>总结:</h2>
      <div style="padding-left:50px;">
        <div class="base-item">
          <span class="label">总结：</span>
          <span id="summaryConclusion">zhp</span>
        </div>
      </div>
    </div>
  </div>

</body>

</html>