<!DOCTYPE html>
<html>
<head>
	<title>Zoom-in</title>
	<meta charset="utf-8">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
</head>
<body>
	<!--导航部分-->
<nav class="navbar navbar-default nav-style">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Zoom In</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <ul class="nav navbar-nav">
        <li >
       		<a href="#">数据导入</a>
        </li>
       	<li >
       		<a href="#">数据处理</a>
        </li>
        <li >
       		<a href="#">数据分析</a>
        </li>
        <li >
       		<a href="#">数据挖掘</a>
        </li>
        <li >
       		<a href="#">任务发布</a>
        </li>

      </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if request.session.hasLogin %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
              {% else %}
              <li><a href="#">登录</a></li>
          {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</body>
<style type="text/css">
	.nav-style{
		background-color: #00c587;
		color: #fff;
		border: none;
	}
	.nav-style a{
		color: #fff!important;
	}
	.nav-style  li  a:hover, .nav-style  li  a:focus{
	    text-decoration: none;
    	background-color: #ececec!important;
    	color: #00c587!important;
	}
	.navbar {
    border-radius: 0px;
	}
</style>
</html>